[Unit]
Description=ldapui
After=network.target auditd.service slapd.service
# https://stackoverflow.com/a/47216959
BindsTo=slapd.service

[Service]
WorkingDirectory=/opt/ldap-ui
Environment="BASE_DN=dc=example,dc=com"
ExecStart=/opt/ldap-ui/.venv3/bin/ldap-ui
Type=simple
User=www-data
Group=www-data
Restart=always
StandardOutput=null
StandardError=null

# Sandbox
ProtectHome=true
ProtectSystem=strict
SystemCallFilter=@system-service
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
