.navbar-brand i.fa-list-alt, .navbar-brand i.fa-list-ul {
    margin-right: 1em;
}

div.card {
    margin-bottom: 1em;
}

a, a:hover {
    text-decoration: none;
    color: black;
}

.u {
    text-decoration: underline;
}

#tree-view {
    box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.5);
}

ul#tree {
    margin: 0 1em 1em 1em;
    padding: 1em 0;
}

ul#tree li {
    margin-top: 0.1em;
    white-space: nowrap;
}

.tree-link, .clickable {
    cursor: pointer;
}

.tree-link i.fa {
    color: gray;
}

span.tree-label-active {
    font-weight: bold;
}

.right {
    float: right;
    margin-left: 0.3em;
}

.red {
    color: red;
}

.green {
    color: green;
}

span.indent {
    margin-left: 1.2em;
}

span.opener {
    color: LightGray;
}

.close-box {
    position: absolute;
    top: 0.2em;
    right: 16px;
    font-size: 150%;
    color: gray;
    cursor: pointer;
}

span.header {
    font-weight: bold;
}

#main {
    margin-top: 1em;
}

#editor {
    max-width: 1024px;
}

#editor div.card-header {
    padding: 0.45ex 0;
}

table#entry {
    width: 100%;
}

tr.attr>th, tr.attr>td {
    padding-bottom: 2ex;
}

table#entry th {
    vertical-align: top;
    position: relative;
    top: 0.5ex;
    padding-right: 0;
}

th.optional span.oc {
    color: gray;
}

table#entry input {
    width: 90%;
    padding: 0 0.5em;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    position: relative;
    border-bottom: 1px solid #EEE;
    top: 0.2ex;
}

table#entry input:focus {
    border-bottom: 2px solid #17a2b8;
    outline: none;
}

table#entry input.disabled {
    border-bottom-width: 0;
    background-color: white;
    color: black;
}

table#entry div.attr-value {
    margin: 0.2em 0;
}

table#entry div.button-bar {
    width: 90%;
}

table#entry span.photo img {
    max-width: 120px;
    max-height: 120px;
    border: 1px solid #CCC;
    padding: 2px;
}

.add-btn {
    font-size: 150%;
    position: relative;
    top: -0.5ex;
    color: LightGray;
}

.remove-btn {
    font-size: 150%;
    color: LightGray;
    vertical-align: top;
    position: relative;
    top: -0.5ex;
}

table#entry td i.fa {
    opacity: 0.3;
    margin-right: 0.1em;
    position: relative;
    top: 0.3ex;
}

input.structural {
    font-weight: bold;
}

li.nav-item.icon a.nav-link {
    padding-right: 0;
}

li.entry-menu a.nav-link {
    padding-left: 8px;
}

#change-password input {
    display: inline;
}

#change-password i {
    margin-left: 0.5em;
}

ul.dropdown {
    margin-top: 2px;
    list-style-type: none;
    width: 90%;
    border: 1px solid #CCC;
    padding: 0;
}

ul.dropdown li {
    padding: 0 0.5em;
}

ul.dropdown li:hover {
    background-color: #CCC;
    cursor: pointer;
}
