div.card {
    margin-bottom: 1em;
}

a, a:hover {
    text-decoration: none;
    color: black;
}

ul.click-through a {
    text-decoration: underline;
}

#left {
    margin-left: 1em;
}

.right {
    float: right;
    margin-left: 0.3em;
}

.red {
    color: red;
}

ul#tree {
    padding: 0px;
}

ul#tree li {
    margin-top: 0.1em;
    white-space: nowrap;
}

span.indent {
    margin-left: 1.2em;
}

a.tree-link i.fas {
    color: gray;
}

i.fas.fa-arrow-circle-right, i.fas.fa-arrow-circle-down {
    color: LightGray;
}

span.opener {
    cursor: pointer;
    color: gray;
}

a.close-box {
    position: absolute;
    top: 0.2em;
    right: 16px;
    font-size: 150%;
    color: gray;
}

span.header {
    font-weight: bold;
}

#editor div.card-header {
    padding: 0.45ex 0px;
}

table#entry {
    width: 100%;
}

table#entry th {
    vertical-align: top;
    position: relative;
    top: 0.5ex;
    padding-right: 0px;
}

table#entry td i.fas {
    opacity: 0.1;
}

table#entry th.optional {
    font-weight: normal;
}

table#entry i.fa-check {
    color: green;
}

table#entry input {
    width: 90%;
    padding: 0px 0.5em;
}

table#entry div.attr-value {
    margin: 0.2em 0px;
}

table#entry div.button-bar {
    width: 90%;
}

a.add-btn {
    font-size: 150%;
    position: relative;
    top: -0.5ex;
    color: LightGray;
}

input.structural {
    font-weight: bold;
}

input.disabled {
    background-color: #f8f8f8;
}

li.nav-item.icon a.nav-link {
    padding-right: 0px;
}

li.entry-menu a.nav-link {
    padding-left: 8px;
}