:root {
    --body-fg: #212529;
    --body-bg: white;
    --muted-fg: #222;
    --muted-bg: #EEE;
    --accent: var(--cyan);
    --active: black;
    --border: rgb(0,0,0,.125);
    --input-bg: white;
    --control: LightGray;
    --modal-border: rgba(0,0,0,.2);
    --modal-divider: #dee2e6;
    --tree-icon: DarkGray;
    --tree-bg: var(--body-bg);
    --tree-shadow: rgba(0,0,0,0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
      --body-fg: #EEE;
      --body-bg: #111;
      --muted-fg: #CCC;
      --muted-bg: #222;
      --active: white;
      --border: #333;
      --input-bg: #444;
      --control: gray;
      --modal-border: rgba(48,48,48,.2);
      --modal-divider: var(--border);
      --tree-icon: LightGray;
      --tree-bg: var(--muted-bg);
      --tree-shadow: rgba(128,128,128,0.5);
  }
  
  .navbar-dark .navbar-toggler {
      border-color: var(--muted-fg);
  }

  .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }

  select.custom-select {
      background: var(--input-bg) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23CCC' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") right .75rem center/8px 10px no-repeat;
  }
}

body {
    color: var(--body-fg);
    background-color: var(--body-bg);
}

.navbar-brand i.fa-list-alt, .navbar-brand i.fa-list-ul {
    margin-right: 1em;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

div.card {
    margin-bottom: 1em;
    background-color: var(--muted-bg);
    color: var(--body-fg);
    border: 1px solid var(--border);
}

.card div.card-header {
    color: var(--muted-fg);
}

div.card-body {
    background-color: var(--body-bg);
}

a, a:hover, span.tree-link:hover {
    text-decoration: none;
    color: var(--active);
}

.u {
    text-decoration: underline;
}

#tree-view {
    box-shadow: 4px 4px 5px 0 var(--tree-shadow);
    background-color: var(--tree-bg);
}

ul#tree {
    margin: 0 1em 1em 1em;
    padding: 1em 0;
}

ul#tree li {
    margin-top: 0.1em;
    white-space: nowrap;
}

.tree-link, .clickable {
    cursor: pointer;
}

.tree-link i.fa {
    color: var(--tree-icon);
}

span.tree-label-active {
    font-weight: bold;
}

.right {
    float: right;
    margin-left: 0.3em;
}

.red {
    color: red !important;
}

.green {
    color: green !important;
}

span.indent {
    margin-left: 1.2em;
}

span.opener {
    color: var(--control);
}

.close {
    color: var(--body-fg);
    text-shadow: 0 1px 0 var(--body-bg);
}

.close-box {
    position: absolute;
    top: 0.2em;
    right: 16px;
    font-size: 150%;
    color: var(--control);
    cursor: pointer;
}

span.header, p.strong {
    font-weight: bold;
}

#main {
    margin-top: 1em;
}

#editor {
    max-width: 1024px;
}

#editor div.card-header {
    padding: 0.45ex 0;
}

table#entry {
    width: 100%;
}

tr.attr>th, tr.attr>td {
    padding-bottom: 2ex;
}

table#entry th {
    vertical-align: top;
    position: relative;
    top: 0.5ex;
    padding-right: 0;
}

th.optional span.oc {
    color: var(--control);
}

table#entry input {
    top: 0.2ex;
    width: 90%;
    padding: 0 0.5em;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    position: relative;
    color: var(--page-fg);
    border-bottom: 1px solid var(--muted-bg);
    background-color: var(--page-bg);
}

table#entry input:focus {
    border-bottom: 2px solid var(--accent);
    outline: none;
}

table#entry input.disabled {
    border-bottom-width: 0;
    background-color: var(--body-bg);
    color: var(--body-fg);
}

table#entry div.attr-value {
    margin: 0.2em 0;
}

table#entry div.button-bar {
    width: 90%;
}

table#entry span.photo img {
    max-width: 120px;
    max-height: 120px;
    border: 1px solid #CCC;
    padding: 2px;
}

.add-btn {
    font-size: 150%;
    position: relative;
    top: -0.5ex;
    color: var(--control);
}

.remove-btn {
    font-size: 150%;
    color: var(--control);
    vertical-align: top;
    position: relative;
    top: -0.5ex;
}

table#entry td i.fa {
    opacity: 0.3;
    margin-right: 0.1em;
    position: relative;
    top: 0.3ex;
}

input.structural {
    font-weight: bold;
}

li.nav-item.icon a.nav-link {
    padding-right: 0;
}

li.entry-menu a.nav-link {
    padding-left: 8px;
}

input.form-control, textarea.form-control, select.custom-select {
    color: var(--body-fg) !important;
    background-color: var(--input-bg) !important;
}

#change-password input {
    display: inline;
}

#change-password i {
    margin-left: 0.5em;
}

#dropdown, #search-popup {
    margin-top: 2px;
    border: 1px solid var(--accent);
    border-radius: 4px;
    z-index: 99;
    background-color: var(--body-bg);
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3);
}

#dropdown, #search-popup ul {
    list-style-type: none;
    padding: 0;
}

.hidden {
    display: none;
}

#dropdown li, #search-popup li {
    padding: 0 0.5em;
}

#dropdown li:hover, #search-popup li:hover {
    background-color: #CCC;
    cursor: pointer;
}

#search-popup ul {
    font-weight: bold;
    margin: 0.5em;
}


#arrow, #arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}

#arrow::before {
  content: '';
  transform: rotate(45deg);
  background-color: var(--body-bg);
}

#search-popup[data-popper-placement^='bottom'] > #arrow {
    top: -4px;
}

.modal-header, .modal-footer {
    border-color: var(--modal-divider);
}

.modal-content, .dropdown-menu {
    border-color: var(--modal-border);
    background-color: var(--body-bg);
}

.dropdown-menu {
    border: 1px solid var(--border);
}

.dropdown-item {
    color: var(--body-fg);
}

.hint {
    font-size: x-small;
    padding-left: 8px;
    opacity: 0.7;
}
