:root {
    --body-fg: #222;
    --body-bg: white;
    --muted-fg: #333;
    --muted-bg: #EEE;
    --accent: var(--cyan);
    --active: black;
    --border: rgb(0,0,0,.125);
    --input-bg: white;
    --modal-border: rgba(0,0,0,.2);
    --modal-divider: #dee2e6;
    --tree-icon: DarkGray;
    --tree-bg: var(--body-bg);
    --tree-shadow: rgba(0,0,0,0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-fg: #EEE;
    --body-bg: #111;
    --muted-fg: #CCC;
    --muted-bg: #222;
    --active: white;
    --border: #333;
    --input-bg: #444;
    --modal-border: #666;
    --modal-divider: #444;
    --tree-icon: LightGray;
    --tree-bg: var(--muted-bg);
    --tree-shadow: rgba(128,128,128,0.5);
  }
}
