@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-front: 32 32 32;
    --color-back: 255 255 255;

    --color-primary: 23 162 184;
    --color-secondary: 108 117 125;
    --color-danger: 229 57 53;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-front: 255 255 255;
      --color-back: 16 16 16;
    }
  }
}
